* {
  font-family: "Ubuntu", sans-serif;
}
.navbar-brand {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.signInBox {
  border-radius: 12px;
}
.signInHeading {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 45px;
}

#signInBtn,
#createUserBtn,
#user_name,
#user_id,
#allUserBtn {
  margin: 12px 10%;
  width: 80%;
}
.breaker {
  color: white;
  display: block;
  margin: 12px 10%;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}
